.profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.profile-position {
  font-size: 1.5rem;
  font-weight: 300;
}

.profile-image {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border-top-left-radius: 10px;
}

.profile-wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.profile-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  filter: var(--filter-icon);
}

.profile-icon-wrapper {
  display: flex;
  gap: 0.6rem;
  font-size: 0.85rem;
  flex-direction: column;
  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    > div {
      font-weight: 600;
      display: flex;
      gap: 0.3rem;
      width: 5rem;
      align-items: center;
    }
  }
}
