.profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.profile-position {
  font-size: 1.5rem;
  font-weight: 300;
}

.profile-image {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border-top-left-radius: 10px;
}

.profile-wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.profile-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  filter: var(--filter-icon);
}

.profile-icon-wrapper {
  display: flex;
  gap: 1rem;
}
