.projects-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.projects-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-item {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);
}

.projects-item-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.projects-item-term {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-textlight);
  padding: 1rem 0;
}

.projects-item-desc {
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--color-textgrey);
  line-height: 1.6;
}

.projects-item-label {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem 0;
}

.projects-item-techstack-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.projects-item-tech-tag {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 20px;
  background-color: var(--color-tag);
  padding: 0.1rem 0.8rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.projects-item-image {
  width: 26rem;
  max-width: 100%;
  object-fit: fill;
  border-radius: 5px;
  margin: 1rem 0 2rem 0;
}

.projects-item-icon {
  width: 15px;
  height: 15px;
  /* cursor: pointer; */
  margin-top: 3px;
  filter: var(--filter-icon);
}

.projects-item-link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color-textgrey);
}

.projects-item-link-list {
  margin-bottom: 1rem;
}

.projects-item-image-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0;
}

.projects-item-sub-label {
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.projects-item-sub-desc {
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--color-textgrey);
  padding-left: 0.6rem;
  padding-bottom: 1rem;
  line-height: 1.6;
}

.troubleshooting {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.projects-item-result-image {
  width: 25rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}
