.tech-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
}

.tech-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 20px;
  background-color: #eeeef3;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
}

.tech-list-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}
